<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<div class="d-flex justify-content-start align-items-center flex-wrap hero-section">
  <img src="personal_photo.png" alt="Immagine" class="my-image img-fluid">
  <div class="card hero-card">
      <div class="card-body">
          <h2 class="card-title" style="font-family: 'Inter', sans-serif;">Benvenuto nel mio portfolio</h2>
          <p class="card-text">
              Ciao, il mio nome è Giovanni. Sono uno studente di Ingegneria Informatica,
              dell'Università degli studi di Palermo. In questa pagina sarà possibile
              trovare alcuni dei miei progetti e lavori. Inoltre sono presenti i miei contatti.
          </p>
       </div>
  </div>
</div>

<h1 class="projects-title">I miei progetti</h1>
<div class="row justify-content-center row-cols-1 row-cols-md-2 g-3 custom-background">
  <div class="col">
    <div class="card project-card border rounded shadow">
      <img src="combot.jpg" class="card-img-top img-fluid" alt="combot">
      <div class="card-body">
        <h5 class="card-title">BotCom</h5>
        <p class="card-text">
            Il bot telegram adatto per comunicazioni professionali lavorative e studentesche.
            Il bot è stato realizzato per facilitare la stesura delle comunicazioni da distribuire 
            ai propri colleghi. Il bot funziona tramite l'utilizzo di ollama, l'intelligenza artificiale
            che funziona anche offline. L'utente deve solo inserire le informazioni di base all'interno
            della chat telegram e il bot restituira un messaggio con già un efficiente titolo e testo descrittivo 
            della comunicazione.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card project-card border rounded shadow">
      <img src="rollaball.jpg" class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">Roll a Ball</h5>
        <p class="card-text">
          Un semplice gioco 3D realizzato in Unity, in cui il giocatore controlla una pallina in uno
          spazio variegato da ostacoli. L'obiettivo è raccogliere tutte le monete
          senza essere presi dal cubo rosso che seguirà la pallina sin in capo al mondo.
        </p>
      </div>
    </div>
  </div>
</div>

