<div class="container">
  <div class="card border rounded shadow p-3" style="margin-top: 10%; margin-bottom: 10%;">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0 d-flex align-items-center">
        <div class="card-body text-center w-100">
          <div class="d-flex justify-content-center">
            <img src="personal_photo.png" alt="Immagine" class="my-image2 img-fluid">
          </div>
          <div class="mx-auto text-center" style="max-width: 60%;">
            <h2 class="card-title">Presentazione</h2>
            <hr>
            <p class="card-text">
                Ciao, il mio nome è Giovanni. Sono uno studente di Ingegneria Informatica,
                dell'Università degli studi di Palermo. In questa pagina sarà possibile
                trovare alcuni dei miei progetti e lavori. Inoltre sono presenti i miei contatti.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card-body" style="text-align: center">
          <h2 class="card-title">Competenze</h2>
          <hr>
            <div class="row justify-content-center mb-2">
              <div class="d-flex flex-wrap justify-content-center gap-3">
                <img src="c.png" alt="C" class="logo img img-fluid">
                <img src="c-.png" alt="C++" class="logo img img-fluid">
                <img src="c-sharp.png" alt="C#" class="logo img img-fluid">
                <img src="python.png" alt="Python" class="logo img img-fluid">
              </div>
            </div>
            <div class="row justify-content-center mb-2">
              <div class="d-flex flex-wrap justify-content-center gap-3">
                <img src="html-5.png" alt="HTML5" class="logo img img-fluid">
                <img src="css-3.png" alt="CSS3" class="logo img img-fluid">
                <img src="js.png" alt="JavaScript" class="logo img img-fluid">
                <img src="typescript.png" alt="TypeScript" class="logo img img-fluid">
              </div>
            </div>
            <div class="row justify-content-center mb-2">
              <div class="d-flex flex-wrap justify-content-center gap-3">
                <img src="Angular.png" alt="Angular" class="logo img img-fluid">
                <img src="bootstrap.png" alt="CSS3" class="logo img img-fluid">
                <img src="unity.png" alt="JavaScript" class="logo img img-fluid">              
              </div>
            </div>
        </div>
        <div class="card-body" style="text-align: center; max-width: 60%; margin-left: 20%;">
          <h2>Occupazione</h2>
          <hr>
          <p class="card-text">
            Attualmente sono uno studente di ingegneria informatica presso
            l'università degli studi di Palermo ed un referente dell'associazione studentesca
            Vivere Ateneo.
          </p>
          <div class="row justify-content-center">
            <div class="d-flex flex-row flex-wrap justify-content-center align-items-center gap-3">
              <img src="vivere_at.png" alt="Vivere" class="logo2 img img-fluid">
              <img src="Vivere_ing.png" alt="Vivere" class="logo2 img img-fluid">
              <img src="unipa-removebg-preview.png" alt="unipa" class="img img-fluid" style="max-width: 180px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>