<div class="d-flex justify-content-start align-items-center flex-wrap hero-section">
  <img src="personal_photo.png" alt="Immagine" class="my-image img-fluid">
  <div class="card hero-card border rounded shadow">
      <div class="card-body">
          <h2 class="card-title">Introduzione</h2>
          <hr>
          <p class="card-text">
              Ciao, il mio nome è Giovanni. Sono uno studente di Ingegneria Informatica,
              dell'Università degli studi di Palermo. In questa pagina sarà possibile
              trovare alcuni dei miei progetti e lavori. Inoltre sono presenti i miei contatti.
          </p>
       </div>
  </div>
</div>