<h1 style="margin: 2%; text-align: center;">I Miei progetti</h1>
<hr>

<div class="container py-4">
  <div class="row align-items-center g-4">
    <div class="col-12 col-md-7">
      <div class="card hero-card wide-tall-card border rounded shadow h-100 p-3 d-flex flex-row align-items-center">
        <img src="combot.jpg" alt="Immagine" class="my-image img-fluid me-3" id="combot" style="max-width: 150px;">
        <div class="card-body">
          <h2 class="card-title">COMBOT</h2>
          <hr>
          <p class="card-text">
            Il bot telegram adatto per comunicazioni professionali lavorative e studentesche.
            Il bot è stato realizzato per facilitare la stesura delle comunicazioni da distribuire 
            ai propri colleghi. Il bot funziona tramite l'utilizzo di ollama, l'intelligenza artificiale
            che funziona anche offline. L'utente deve solo inserire le informazioni di base all'interno
            della chat telegram e il bot restituira un messaggio con già un efficiente titolo e testo descrittivo 
            della comunicazione.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 d-flex align-items-stretch">
      <div class="card hero-card border rounded shadow custom-tall-card p-3 w-100">
        <div class="card-body d-flex flex-column justify-content-center h-100">
          <p class="sub-text">
            Competenze utilizzate:
            <br>
            - Python
            <br>
            - Ollama 
            <br>
            - Telegram BotFather
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-4">
  <div class="row align-items-center g-4">
    <div class="col-12 col-md-7">
      <div class="card hero-card wide-tall-card border rounded shadow h-100 p-3 d-flex flex-row align-items-center">
        <img src="rollaball.jpg" alt="Immagine" class="my-image img-fluid me-3" id="rollaball" style="max-width: 150px;">
        <div class="card-body">
          <h2 class="card-title">ROLLABALL</h2>
          <hr>
          <p class="card-text">
            Un semplice gioco 3D realizzato in Unity, in cui il giocatore controlla una pallina in uno
            spazio variegato da ostacoli. L'obiettivo è raccogliere tutte le monete
            senza essere presi dal cubo rosso che seguirà la pallina sin in capo al mondo.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 d-flex align-items-stretch">
      <div class="card hero-card border rounded shadow custom-tall-card p-3 w-100">
        <div class="card-body d-flex flex-column justify-content-center h-100">
          <p class="sub-text">
            Competenze utilizzate:
            <br>
            - C#
            <br>
            - Unity 
            <br>
            - Game design
          </p>
        </div>
      </div>
    </div>
  </div>
</div>