<h1 style="margin: 2%; text-align: center;">I Miei progetti</h1>
<hr>

<!-- COMBOT -->
<div class="container py-4">
  <div class="card project-card border rounded shadow p-3">
    <div class="row g-4 align-items-stretch">
      <!-- Parte sinistra -->
      <div class="col-12 col-md-8 d-flex">
        <img src="combot.jpg" alt="Immagine" class="my-image img-fluid me-3" id="combot">
        <div class="card-body">
          <h2 class="card-title">COMBOT</h2>
          <hr>
          <p class="card-text">
            Il bot telegram adatto per comunicazioni professionali lavorative e studentesche.
            Il bot è stato realizzato per facilitare la stesura delle comunicazioni da distribuire 
            ai propri colleghi. Il bot funziona tramite l'utilizzo di ollama, l'intelligenza artificiale
            che funziona anche offline. L'utente deve solo inserire le informazioni di base all'interno
            della chat telegram e il bot restituirà un messaggio con già un efficiente titolo e testo descrittivo 
            della comunicazione.
          </p>
        </div>
      </div>

      <!-- Parte destra -->
      <div class="col-12 col-md-4">
        <div class="card-body h-100 d-flex flex-column justify-content-center align-items-center">
          <p class="sub-text">
            Competenze utilizzate:
            <br>- Python
            <br>- Ollama
            <br>- Telegram BotFather
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ROLLABALL -->
<div class="container py-4">
  <div class="card project-card border rounded shadow p-3">
    <div class="row g-4 align-items-stretch">
      <!-- Parte sinistra -->
      <div class="col-12 col-md-8 d-flex">
        <img src="rollaball.jpg" alt="Immagine" class="my-image img-fluid me-3" id="rollaball">
        <div class="card-body">
          <h2 class="card-title">ROLLABALL</h2>
          <hr>
          <p class="card-text">
            Un semplice gioco 3D realizzato in Unity, in cui il giocatore controlla una pallina in uno
            spazio variegato da ostacoli. L'obiettivo è raccogliere tutte le monete
            senza essere presi dal cubo rosso che seguirà la pallina sin in capo al mondo.
          </p>
        </div>
      </div>

      <!-- Parte destra -->
      <div class="col-12 col-md-4">
        <div class="card-body h-100 d-flex flex-column justify-content-center align-items-center">
          <p class="sub-text">
            Competenze utilizzate:
            <br>- C#
            <br>- Unity
            <br>- Game design
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
