<nav class="navbar bg-body-tertiary fixed-top" data-bs-theme="dark">
  <div class="container-fluid d-flex align-items-center">
    <!-- Sinistra -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      My portfolio
    </a>

    <!-- Destra -->
    <div class="ms-auto d-flex align-items-center">
      <a href="https://www.instagram.com/giova.nnidimaio" target="_blank">
        <img src="instagram.png" alt="Instagram" width="28" height="28">
      </a>

      <!-- Secondo logo, distanza di 5px -->
      <a href="https://github.com/Fuocan-05" target="_blank" class="ms-1">
        <img src="github.png" alt="github" width="28" height="28">
      </a>

      <a href="https://www.linkedin.com/in/giovanni-di-maio" target="_blank" class="ms-1">
        <img src="linkedin.png"  alt="linkedin" width="28" height="28">
      </a>
    </div>
  </div>
</nav>
