  <h2>Per contattarmi</h2>
  <hr>
<div class="container p-4 border rounded shadow">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" novalidate>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input id="nome" class="form-control" name="nome" [(ngModel)]="formData.nome" required>
    </div>

    <div class="mb-3">
      <label for="cognome" class="form-label">Cognome</label>
      <input id="cognome" class="form-control" name="cognome" [(ngModel)]="formData.cognome" required>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input id="email" type="email" class="form-control" name="email" [(ngModel)]="formData.email" required>
    </div>

    <div class="mb-3">
      <label for="telefono" class="form-label">Telefono (opzionale)</label>
      <input id="telefono" class="form-control" name="telefono" [(ngModel)]="formData.telefono">
    </div>

    <div class="mb-3">
      <label for="messaggio" class="form-label">Messaggio</label>
      <textarea id="messaggio" rows="5" class="form-control" name="messaggio"
        [(ngModel)]="formData.messaggio" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Invia</button>
  </form>
</div>
